In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta

# Austria

In [25]:
austria_df = pd.read_csv('_data/snowfinch-austria.csv')
austria_df

,BroodID,Day,Month,Year,Hour,Minute,Nr_Visit,Aluring_Nr,Alu_Col,Color,...,Bill_color,Bill length,Nr_nestlings,Saliva_sample,Snow,Snow_accuracy,Pictures,iButton_in,iButton_out,Notes
0,1_2_1_22,2,6,2022,17.0,15.0,1.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,2,95.0,NaN,NaN,NaN,NaN
1,1_2_1_22,2,6,2022,17.0,15.0,1.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,2,95.0,NaN,NaN,NaN,NaN
2,1_2_1_22,3,6,2022,7.0,0.0,2.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,2,95.0,NaN,NaN,NaN,NaN
3,1_2_1_22,3,6,2022,7.0,0.0,2.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,2,95.0,NaN,NaN,NaN,NaN
4,1_2_1_22,3,6,2022,17.0,35.0,3.0,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,2,95.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,13_1_1_22,30,6,2022,5.0,30.0,12.0,S002897,NaN,blue,...,NaN,7-Jul,4.0,NaN,0.5,90.0,NaN,NaN,NaN,NaN
536,13_1_1_22,30,6,2022,5.0,30.0,12.0,S002898,NaN,blue,...,NaN,7-Jun,4.0,NaN,0.5,90.0,NaN,NaN,NaN,NaN
537,13_1_1_22,30,6,2022,5.0,30.0,12.0,S002899,NaN,blue,...,NaN,8-Feb,4.0,NaN,0.5,90.0,NaN,NaN,NaN,NaN
538,1_2_1_22,15,6,2022,6.0,45.0,26.0,S002858,NaN,blue,...,NaN,NaN,2.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN
539,1_2_1_22,15,6,2022,6.0,45.0,26.0,S002859,NaN,blue,...,NaN,NaN,2.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN

In [26]:
austria_df = austria_df[['BroodID', 'Day', 'Month', 'Year', 'Hour', 'Minute', 'Age', 'Nr_nestlings']].dropna()
austria_df

       BroodID  Day  Month  Year  Hour  Minute     Age  Nr_nestlings
0     1_2_1_22    2      6  2022  17.0    15.0   2-May           2.0
1     1_2_1_22    2      6  2022  17.0    15.0   2-May           2.0
2     1_2_1_22    3      6  2022   7.0     0.0       3           2.0
3     1_2_1_22    3      6  2022   7.0     0.0       3           2.0
4     1_2_1_22    3      6  2022  17.0    35.0   3-May           2.0
..         ...  ...    ...   ...   ...     ...     ...           ...
535  13_1_1_22   30      6  2022   5.0    30.0  14-May           4.0
536  13_1_1_22   30      6  2022   5.0    30.0  14-May           4.0
537  13_1_1_22   30      6  2022   5.0    30.0      15           4.0
538   1_2_1_22   15      6  2022   6.0    45.0      15           2.0
539   1_2_1_22   15      6  2022   6.0    45.0      15           2.0

[519 rows x 8 columns]

In [27]:
austria_df['Age'] = austria_df['Age'].apply(lambda age: age if len(age) < 5 else f'{age[:-4]}.5').astype('float')
austria_df

       BroodID  Day  Month  Year  Hour  Minute   Age  Nr_nestlings
0     1_2_1_22    2      6  2022  17.0    15.0   2.5           2.0
1     1_2_1_22    2      6  2022  17.0    15.0   2.5           2.0
2     1_2_1_22    3      6  2022   7.0     0.0   3.0           2.0
3     1_2_1_22    3      6  2022   7.0     0.0   3.0           2.0
4     1_2_1_22    3      6  2022  17.0    35.0   3.5           2.0
..         ...  ...    ...   ...   ...     ...   ...           ...
535  13_1_1_22   30      6  2022   5.0    30.0  14.5           4.0
536  13_1_1_22   30      6  2022   5.0    30.0  14.5           4.0
537  13_1_1_22   30      6  2022   5.0    30.0  15.0           4.0
538   1_2_1_22   15      6  2022   6.0    45.0  15.0           2.0
539   1_2_1_22   15      6  2022   6.0    45.0  15.0           2.0

[519 rows x 8 columns]

In [28]:
austria_df['Datetime'] = pd.to_datetime(austria_df[['Year', 'Month', 'Day', 'Hour', 'Minute']])
austria_df = austria_df[['BroodID', 'Datetime', 'Age', 'Nr_nestlings']]
austria_df

       BroodID            Datetime   Age  Nr_nestlings
0     1_2_1_22 2022-06-02 17:15:00   2.5           2.0
1     1_2_1_22 2022-06-02 17:15:00   2.5           2.0
2     1_2_1_22 2022-06-03 07:00:00   3.0           2.0
3     1_2_1_22 2022-06-03 07:00:00   3.0           2.0
4     1_2_1_22 2022-06-03 17:35:00   3.5           2.0
..         ...                 ...   ...           ...
535  13_1_1_22 2022-06-30 05:30:00  14.5           4.0
536  13_1_1_22 2022-06-30 05:30:00  14.5           4.0
537  13_1_1_22 2022-06-30 05:30:00  15.0           4.0
538   1_2_1_22 2022-06-15 06:45:00  15.0           2.0
539   1_2_1_22 2022-06-15 06:45:00  15.0           2.0

[519 rows x 4 columns]

In [29]:
austria_df = austria_df.groupby(['BroodID', 'Datetime']).agg({
	'Age': ['min', 'max'],
	'Nr_nestlings': 'max'
})
austria_df = austria_df.reset_index()
austria_df.columns = ['brood_id', 'datetime', 'age_min', 'age_max', 'brood_size']
austria_df

      brood_id            datetime  age_min  age_max  brood_size
0    10_1_1_22 2022-06-14 16:15:00      0.5      1.0         3.0
1    10_1_1_22 2022-06-15 13:30:00      1.5      2.0         3.0
2    10_1_1_22 2022-06-16 11:53:00      2.5      3.0         3.0
3    10_1_1_22 2022-06-17 11:15:00      3.5      4.0         3.0
4    10_1_1_22 2022-06-18 07:10:00      4.5      5.0         3.0
..         ...                 ...      ...      ...         ...
154   8_5_1_22 2022-06-06 11:35:00      9.0     11.0         4.0
155   8_5_1_22 2022-06-07 13:35:00     10.0     12.0         4.0
156   8_5_1_22 2022-06-08 09:07:00     11.0     13.0         3.0
157   8_5_1_22 2022-06-10 15:05:00     13.0     15.0         2.0
158   8_5_1_22 2022-06-12 10:08:00     15.0     17.0         2.0

[159 rows x 5 columns]

# Switzerland

In [30]:
swiss_df = pd.read_csv('_data/snowfinch-switzerland.csv')
swiss_df

,index,11/05/2022,12/05/2022,13/05/2022,14/05/2022,15/05/2022,16/05/2022,17/05/2022,18/05/2022,19/05/2022,...,30/07/2022,31/07/2022,01/08/2022,02/08/2022,03/08/2022,04/08/2022,05/08/2022,06/08/2022,07/08/2022,08/08/2022
0,Furka10_22a,NaN,NaN,NaN,1. egg; accuracy +-2.5,NaN,NaN,Stat incubation; accuracy 0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nr. Nestlings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Age Nestling1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Age Nestling2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Age Nestling3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Age Nestling4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Furka12_22a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Fledging 1. nestling; accuracy+- 1,NaN,NaN,NaN,NaN,NaN,NaN,empty box
7,Nr. Nestlings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,?,?,?,?,?,?,?,?,0
8,Age Nestling1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,?,?,?,?,?,?,?,?,NaN
9,Age Nestling2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,?,?,?,?,?,?,?,?,NaN
10,Age Nestling3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Age Nestling4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,?,?,?,?,?,?,?,?,NaN
12,Age Nestling5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,?,?,?,?,?,?,?,?,NaN
13,Furka13_22a,1. egg accuracy +-0,NaN,NaN,NaN,Start incubation; accuracy 0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Nr. Nestlings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Age Nestling1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Age Nestling2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Age Nestling3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Age Nestling4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Age Nestling5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Furka14_22a,NaN,NaN,NaN,NaN,NaN,NaN,1. egg; accuracy +-2,NaN,Start incubation; accuracy +-0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Nr. Nestlings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Age Nestling1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Age Nestling2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Age Nestling3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Age Nestling4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Furka31_22a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Fledging all nestlings; accuracy 0,empty box,NaN,NaN
27,Nr. Nestlings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3,3,3,3,3,3,0,NaN,NaN
28,Age Nestling1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,15,16,17,18,19,20,NaN,NaN,NaN
29,Age Nestling2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,15,16,17,18,19,20,NaN,NaN,NaN
30,Age Nestling3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,14,15,16,17,18,19,NaN,NaN,NaN
31,Furka33_22a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Nr. Nestlings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Age Nestling1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Age Nestling2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Furka34_22a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1. egg; accuracy 0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Nr. Nestlings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Age Nestling1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Age Nestling2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Age Nestling3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Age Nestling4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Age Nestling5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Joch4_22a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Nr. Nestlings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Age Nestling1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Age Nestling2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Age Nestling3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Age Nestling4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
def is_brood_id(label: str) -> bool:
	return 'Furka' in label or 'Joch' in label


swiss_df_fmt = pd.DataFrame()

i = 0
while not is_brood_id(swiss_df.loc[i, 'index']):
	i += 1

while i < len(swiss_df):
	brood_id = swiss_df.loc[i, 'index']

	j = 1
	while i + j < len(swiss_df) and not is_brood_id(swiss_df.loc[i + j, 'index']):
		j += 1

	# TODO: NaN handling
	brood_df = swiss_df.iloc[i + 1:i + j].set_index('index').transpose()
	age_cols = [col for col in brood_df.columns if 'Age' in col]
	brood_df = brood_df.replace('?', np.nan).dropna(subset = age_cols, how = 'all').dropna(subset = ['Nr. Nestlings'])

	brood_df['age_min'] = brood_df[age_cols].astype('float').min(axis = 1)
	brood_df['age_max'] = brood_df[age_cols].astype('float').max(axis = 1)

	brood_df = brood_df[['Nr. Nestlings', 'age_min', 'age_max']].reset_index().rename(columns = {
		'index': 'datetime',
		'Nr. Nestlings': 'brood_size'
	})
	brood_df['brood_id'] = brood_id

	swiss_df_fmt = pd.concat([swiss_df_fmt, brood_df])
	i = i + j

swiss_df_fmt = swiss_df_fmt.reset_index().drop(columns = 'index')
swiss_df_fmt['datetime'] = pd.to_datetime(swiss_df_fmt['datetime'], format = '%d/%m/%Y')
swiss_df_fmt['datetime'] += timedelta(hours = 12)
swiss_df_fmt['brood_size'] = swiss_df_fmt['brood_size'].astype('int')
swiss_df_fmt

index            datetime  brood_size  age_min  age_max     brood_id
0     2022-05-31 12:00:00           4      0.0      0.0  Furka10_22a
1     2022-06-01 12:00:00           4      1.0      1.0  Furka10_22a
2     2022-06-02 12:00:00           4      2.0      2.0  Furka10_22a
3     2022-06-03 12:00:00           4      3.0      3.0  Furka10_22a
4     2022-06-04 12:00:00           4      4.0      4.0  Furka10_22a
..                    ...         ...      ...      ...          ...
141   2022-06-20 12:00:00           4     12.0     13.0    Joch4_22a
142   2022-06-21 12:00:00           4     13.0     14.0    Joch4_22a
143   2022-06-22 12:00:00           4     14.0     15.0    Joch4_22a
144   2022-06-23 12:00:00           4     15.0     16.0    Joch4_22a
145   2022-06-24 12:00:00           4     16.0     17.0    Joch4_22a

[146 rows x 5 columns]

# Output

In [2]:
brood_df = pd.read_csv('_data.export/snowfinch-broods.csv')
brood_df

     Unnamed: 0   brood_id             datetime  age_min  age_max  brood_size
0             0  10_1_1_22  2022-06-14 16:15:00      0.5      1.0         3.0
1             1  10_1_1_22  2022-06-15 13:30:00      1.5      2.0         3.0
2             2  10_1_1_22  2022-06-16 11:53:00      2.5      3.0         3.0
3             3  10_1_1_22  2022-06-17 11:15:00      3.5      4.0         3.0
4             4  10_1_1_22  2022-06-18 07:10:00      4.5      5.0         3.0
..          ...        ...                  ...      ...      ...         ...
300         141  Joch4_22a  2022-06-20 12:00:00     12.0     13.0         4.0
301         142  Joch4_22a  2022-06-21 12:00:00     13.0     14.0         4.0
302         143  Joch4_22a  2022-06-22 12:00:00     14.0     15.0         4.0
303         144  Joch4_22a  2022-06-23 12:00:00     15.0     16.0         4.0
304         145  Joch4_22a  2022-06-24 12:00:00     16.0     17.0         4.0

[305 rows x 6 columns]

In [4]:
brood_df['brood_id'].unique()

array(['10_1_1_22', '12_1_1_22', '13_1_1_22', '1_2_1_22', '1_3_1_22',
       '1_6_1_22', '1_8_1_22', '2_2_1_22', '4_4_1_22', '7_1_1_22',
       '8_5_1_22', 'Furka10_22a', 'Furka12_22a', 'Furka13_22a',
       'Furka14_22a', 'Furka31_22a', 'Furka33_22a', 'Furka34_22a',
       'Joch4_22a'], dtype=object)

In [8]:
rec_df = pd.read_csv('_data.export/snowfinch-recordings.csv')
rec_df

,rec_path,brood_id,datetime,age_min,age_max,brood_size
0,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-25 09:00:01,4.0,5.0,3
1,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-22 17:00:00,1.0,2.0,4
2,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-26 06:00:00,5.0,6.0,3
3,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-22 07:19:15,1.0,2.0,4
4,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-25 18:00:00,4.0,5.0,3
...,...,...,...,...,...,...
4188,2022/Switzerland/Furka13_22a/22_06_20/20220617...,Furka13_22a,2022-06-17 17:30:00,19.0,20.0,5
4189,2022/Switzerland/Furka13_22a/22_06_20/20220618...,Furka13_22a,2022-06-18 13:30:00,20.0,21.0,5
4190,2022/Switzerland/Furka13_22a/22_06_20/20220617...,Furka13_22a,2022-06-17 05:30:00,19.0,20.0,5
4191,2022/Switzerland/Furka13_22a/22_06_20/20220616...,Furka13_22a,2022-06-16 20:30:00,18.0,19.0,5
4192,2022/Switzerland/Furka13_22a/22_06_20/20220618...,Furka13_22a,2022-06-18 20:30:00,20.0,21.0,5

In [7]:
rec_agg_df = rec_df[['rec_path', 'brood_size']].groupby('brood_size').count()
rec_agg_df = rec_agg_df.rename(columns = {'rec_path': 'rec_count'}).sort_values(by = 'brood_size').reset_index()
rec_agg_df

   brood_size  rec_count
0           1         55
1           2        629
2           3       1109
3           4       1897
4           5        503